.ner-entity {
  font-size: large;
}

.EVENT {
  background-color: rgba(255, 136, 127, 0.671);
}

.ORDINAL {
  background-color: rgba(127, 255, 212, 0.815);
}

.FAC {
  background-color: rgba(246, 255, 127, 0.753);
}

.LAW {
  background-color: rgba(240, 127, 255, 0.829);
}

.LANGUAGE {
  background-color: rgba(129, 127, 255, 0.897);
}

.WORK_OF_ART {
  background-color: rgba(138, 255, 127, 0.842);
}

.QUANTITY {
  background-color: rgba(127, 255, 212, 0.808);
}

.NORP {
  background-color: rgba(127, 136, 255, 0.836);
}

.LOC {
  background-color: rgba(255, 225, 127, 0.884);
}

.ORG {
  background-color: rgba(127, 219, 255, 0.897);
}

.CARDINAL {
  background-color: rgba(255, 127, 127, 0.911);
}

.DATE {
  background-color: rgba(225, 127, 255, 0.842);
}

.GPE {
  background-color: rgba(210, 255, 127, 0.808);
}

.PERSON {
  background-color: rgba(155, 127, 255, 0.87);
}

.MONEY {
  background-color: rgba(255, 127, 191, 0.849);
}

.PRODUCT {
  background-color: rgba(246, 255, 127, 0.829);
}

.TIME {
  background-color: rgba(255, 189, 127, 0.884);
}

.PERCENT {
  background-color: rgba(31, 134, 6, 0.897);
}
